@{
    ViewBag.Title = "Contacto";
}
@* Breadcrumb *@
<div class="page-header">
    <h1>Contacto <small>Realiza tus consultas</small></h1>
</div>
<ol class="breadcrumb">
    <li><a href="~/">Inicio</a></li>
    <li class="active">Contacto</li>
</ol>
@{ Html.RenderPartial("_Alerts"); }
@* Contenido *@
@using (Html.BeginForm("Enviar", "Home", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Formulario de contacto</strong></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Correo: ")
                @Html.TextBox("correo", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Asunto: ")
                @Html.DropDownList("asunto", (List<SelectListItem>)ViewBag.listadoAsunto, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Comentario: ")
                @Html.TextArea("cuerpo", new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
}
<br /><br />

@*<!-- Scripts
================================================== -->
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<!-- /Scripts -->*@
