@model Modelos.Propietario

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar propietario</h2>

<h3>¿Estas seguro de que deseas borrar este propietario?</h3>
<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nick: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nick)
        </dd>

        <dt>
            @Html.Label("Nombre: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.Label("Apellidos: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.Label("Email: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.Label("Dirección: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.Label("Teléfono: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.Label("Bloqueado: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueado)
        </dd>

        <dt>
            @Html.Label("Activado: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activado)
        </dd>

        <dt>
            @Html.Label("Reseteado: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reseteado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
