@model Modelos.Usuario

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar Usuario</h2>

<h3>¿Estas seguro de que deseas borrar el usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nick:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nick)
        </dd>

        <dt>
            @Html.Label("Nombre:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.Label("Apellidos:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.Label("Email:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
                
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
