@model Modelos.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Poblacion.NombrePoblacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poblacion.NombrePoblacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bloqueado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.administrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.administrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
