@* Esta sera nuestra plantilla principal *@

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | TFG</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.js"></script>
        <link href="~/Content/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!--Codigo para el menu superior-->
        @Html.Partial("_menu")

        <div class="container body-content">
            <div class="row">
                <!-- <div class="col-xs-12">-->
                <br /><br />
                @RenderBody()
                <!-- </div>-->
            </div>
            <!--Pie de la pagina-->
            <footer>
                <div class="text-center">
                    <div class="well well-sm">
                        <p>&copy; @DateTime.Now.Year - Trabajo de Fin de Grado - <a href="mailto:tfguhuwebmaster@gmail.com">Webmaster</a></p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>